---
# Only the dashes, no title!
---
@import "minimal-mistakes/skins/contrast"; // or your chosen skin
@import "minimal-mistakes";               // load the theme
/* Only for About page */
.about-page {
  p {
    font-size: 38px;   /* normal text */
  }

  h2 {
    font-size: 28px;   /* section headers */
  }

  li {
    font-size: 18px;   /* bullet points */
  }
}
